.home-container {
  margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:#b2b2b2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .imgtop{
    background-color: white;
  }
  .image-sectionlamp img{
    max-width: 170px;
    max-height: 900px;
   margin-bottom: -300px;
   margin-top: 10px;
  }
  .image-sectiontop1{
    margin-top: -30px;
  }

  .image-sectiontop1 img{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: -220px;
    margin-left: 370px;

  }
  .image-sectiontop2 img{
    max-width: 300px;
    max-height: 300px;
    margin-left: 1200px;
    margin-bottom: -120px;
    margin-top: -200px;
  }
  .image-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .image-sectiontop img{
    max-width: 400px;
    margin-left: 500px;
   
    max-height: 600px;
    margin-bottom: -5px;
  }
  
  .image-section2 img {
    max-width: 10%; /* Ensure visibility */
    max-height: 25%;
  }
  .image-section3 img{
max-width: 400px;
max-height: 400px;
margin-top: 150px;
margin-bottom: -85px;

  }
  .how{
    margin-top: -700px;
    margin-bottom: 300px;
  }
  .for-nextpage
  {
    margin-top: 15px;
  
  }
  .left-sectionhome {
    width: 50%;
    padding: 20px;
    padding-left: 150px;
    margin-top: 30px;
  }
  .left-sectionhome h1 {
    margin-right: -500px;
  }
  
  .left-sectionhome p {
    font-size: 1.1em;
    margin-top: -20px;
    max-width: 500px;
    margin-right: -2000px;
    padding-right: -200px;
 
  }
  
  .sell-buttonhome {
   padding: 5px;
    background-color: #6a0dad; 
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .right-sectionnn {
    margin-right: 100px;
    margin-left: 100px;
   padding-left: 20px;
    width: 30%;
    height: 350px;
    background: linear-gradient(to right, #4b0082, #5e008d, #7411a1, #8b22b4, #a134c8);
    border-radius: 100px;
    display: flex;
    align-items: center;
  }
  
  .search-formmm {
    display: flex;
    flex-direction: column;
    width: 100%;
padding-right: 20px;
margin-left: -35px;
    
  }
  
  .form-input {
    padding: 10px;
    margin-bottom: 25px;
    margin-left: 80px;
    padding-left: 80px;
    padding-right: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-book-button {
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 140px;
    margin-right: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background-color:#b2b2b2;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
 .fic h2{
  color: #511379;
  margin-top: -100px;
  margin-left: 180px;
 }
 .image-sectionbot1{
  margin-top: -95px;
 }
.image-sectionbot1 img{
  max-width: 300px;
  max-height: 300px;
 margin-top: 1px;
  margin-left: 1000px;
  margin-bottom: -200px;
}
.image-sectiontop3 img{
margin-top: -200px;
  max-height: 200px;
  margin-bottom: -200px;
}
.image-sectiontop3{
  margin-top: -33px;
  margin-bottom: 50px;
}